.component {
  display: flex;
  background: var(--container-background);
  border: 1px solid var(--container-border);
  flex-direction: column;
  padding: 20px 24px;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}
