.component {
  display: flex;
  background: var(--container-background);
  flex-direction: column;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

.component[size="small"] {
  &.content {
    padding: 12px 16px 0;
  }

  > .header {
    padding: 12px 16px;

    > .title {
      font-size: 16px;
    }
  }
}

.component[size="medium"] {
  &.content {
    padding: 20px 24px 0;
  }

  > .header {
    padding: 20px 24px;

    > .title {
      font-size: 18px;
    }
  }
}

.component[size="large"] {
  &.content {
    padding: 24px 32px 0;
  }

  > .header {
    padding: 24px 32px;

    > .title {
      font-size: 18px;
    }
  }
}

.component[size="extraLarge"] {
  &.content {
    padding: 28px 40px 0;
  }

  > .header {
    padding: 28px 40px;

    > .title {
      font-size: 18px;
    }
  }
}

.border {
  border: 1px solid var(--container-border);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skeleton {
  > * {
    animation: loading 2.5s infinite ease-in-out;
    background: var(--color-start);

    --color-start: rgba(255, 255, 255, 0.12);
    --color-end: rgba(255, 255, 255, 0.18);

    @keyframes loading {
      0% {
        background: var(--color-start);
      }
      45% {
        background: var(--color-end);
      }
      100% {
        background: var(--color-start);
      }
    }

    &:nth-child(1) {
      animation-delay: 0s;
    }

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }

    &:nth-child(4) {
      animation-delay: 0.6s;
    }

    &:nth-child(5) {
      animation-delay: 0.8s;
    }
  }
}
