.component {
    font-weight: 700;
    margin: 0;

    &.h1 {
        font-size: 30px;
    }
    &.h2 {
        font-size: 22px;
    }
    &.h3 {
        font-size: 18px;
    }
    &.h4 {
        font-size: 16px;
    }
    &.h5 {
        font-size: 16px;
    }
    &.h6 {
        font-size: 16px;
    }
}

.alignLeft {
    text-align: left;
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}
