@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

#application-container {
    font-family: 'Lato', sans-serif;
    background: var(--background);
    box-sizing: border-box;
}

:root {
    --background: rgb(16, 16, 20);
    --container-background: rgb(24, 24, 28);
    --container-border: rgba(255, 255, 255, 0.09);
}
